

.flip-panel {
  display: block;
  position: relative;
  width: 300px;
  height: 600px;
  margin: 100px auto;
  perspective: 1200px;
}

.panel {
  transition: z-index 1s ease-in-out 1s;
}
h4{
  text-align:center;
  color: #fff;
  margin: 50px;
}

.panel,
.panel .front,
.panel .back {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
  transform-style: preserve-3d;
  transition: transform 1s, box-shadow 1s;
}

.panel .front {
  background: blue;
  z-index: 2;

  -moz-transform: rotateY(0deg);
  -moz-transform-origin: left;
  transform: rotateY(0deg);
  transform-origin: left;
  backface-visibility: hidden;
}

.panel .back {
  background: red;
  left: -100%;
  z-index: 1;
  
  -moz-transform: rotateY(180deg);
	-moz-transform-origin: right;
	transform: rotateY(180deg);
	transform-origin: right;
  backface-visibility: hidden;
}

.panel .front:hover {
	-moz-transform: rotateY(-25deg);
	-moz-transform-origin: left;
	transform: rotateY(-25deg);
	transform-origin: left;
	box-shadow: 4px 4px 12px rgb(100,100,100);
}

.panel.open {
  z-index: 1;
}

.panel.open .front {
  z-index: 1;
  -moz-transform: rotateY(-180deg);
  -moz-transform-origin: left;
  transform: rotateY(-180deg);
  transform-origin: left;
}

.panel.open .back {
  z-index: 2;
  -moz-transform: rotateY(0deg);
  -moz-transform-origin: right;
  transform: rotateY(0deg);
  transform-origin: right;  
}